/*
=============== 
Variables
===============
*/

:root {
  --clr-grey-1: hsl(209, 61%, 16%);
  --clr-grey-5: hsl(210, 22%, 49%);
  --clr-grey-10: hsl(210, 36%, 96%);
  --clr-white: #fff;
  --clr-gold: #c59d5f;
  --transition: 0.3s cubic-bezier(0.4, 0, 0.2, 1);
  --radius: 0.5rem;
  --light-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
}

/*
=============== 
Global Styles
===============
*/

*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  background: var(--clr-grey-10);
  color: var(--clr-grey-1);
  line-height: 1.5;
}

h1,
h2,
h3,
h4 {
  letter-spacing: var(--spacing);
  text-transform: capitalize;
  line-height: 1.25;
  margin-bottom: 0.75rem;
}

h1 {
  font-size: 3rem;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.25rem;
}

h4 {
  font-size: 0.875rem;
}

p {
  margin-bottom: 1.25rem;
  color: var(--clr-grey-5);
}

@media screen and (min-width: 800px) {
  h1 {
    font-size: 4rem;
  }

  h2 {
    font-size: 2.5rem;
  }

  h3 {
    font-size: 1.75rem;
  }

  h4 {
    font-size: 1rem;
  }

  body {
    font-size: 1rem;
  }

  h1,
  h2,
  h3,
  h4 {
    line-height: 1;
  }
}

/*
=============== 
Menu
===============
*/

.menu {
  padding: 5rem 0;
}

.title {
  text-align: center;
  margin-bottom: 2rem;
}

.underline {
  width: 5rem;
  height: 0.25rem;
  background: var(--clr-gold);
  margin: 0 auto 2rem;
}

.btn-container {
  display: flex;
  justify-content: center;
  gap: 1rem;
  margin-bottom: 4rem;
}

.filter-btn {
  background: transparent;
  border: 1px solid var(--clr-gold);
  font-size: 1rem;
  text-transform: capitalize;
  margin: 0 0.5rem;
  letter-spacing: 1px;
  padding: 0.4rem 1rem;
  color: var(--clr-gold);
  cursor: pointer;
  transition: background-color var(--transition), color var(--transition);
  border-radius: var(--radius);
}

.filter-btn:hover {
  background: var(--clr-gold);
  color: var(--clr-white);
}

.section-center {
  width: 90vw;
  margin: 0 auto;
  max-width: 1170px;
  display: grid;
  gap: 3rem 2rem;
  justify-items: center;
}

.menu-item {
  display: grid;
  gap: 1.5rem;
  /* max-width: 25rem; */
  background: var(--clr-white);
  padding: 1.5rem;
  border-radius: var(--radius);
  box-shadow: var(--light-shadow);
  /* Початковий стан для GSAP (ховаємо) */
  opacity: 0;
}

.photo {
  object-fit: cover;
  height: 200px;
  width: 100%;
  /* border: 0.25rem solid var(--clr-gold); */
  border-radius: var(--radius);
  /* display: block; */
}

.item-info header {
  display: flex;
  justify-content: space-between;
  border-bottom: 0.5px dotted var(--clr-grey-5);
  padding-bottom: 0.5rem;
  margin-bottom: 1rem;
}

.item-info h4 {
  margin-bottom: 0.5rem;
}

.price {
  color: var(--clr-gold);
  font-weight: bold;
}

.item-text {
  margin-bottom: 0;
  padding-top: 1rem;
}

@media screen and (min-width: 768px) {
  .menu-item {
    grid-template-columns: 225px 1fr;
    gap: 0 1.25rem;
    max-width: 40rem;
  }

  .photo {
    height: 175px;
  }
}

@media screen and (min-width: 1200px) {
  .section-center {
    width: 95vw;
    grid-template-columns: 1fr 1fr;
  }

  .photo {
    height: 150px;
  }
}